* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #626262;
    font-family: "Playfair Display", serif;
    background-image: url(./GoIt/img/image1.jpg)
}
.goit-main {
    width: 300px;
    margin: 0 auto;
    text-align: center;
    list-style: none;
    padding-top: 70px;
    
    }

.goit-point {
    text-decoration: none;
    font-size: 26px;
    font-style: oblique;
    color: black;
    font-weight:bold;
    
    
}
.goit-item {
margin-bottom: 25px;
}
.goit-point:hover {
    color: #03a9f4;
}