* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*::before,
*::after {
    box-sizing: inherit;
}

* li {
    list-style: none;
}

* a {
    text-decoration: none;
}

html {
    font-size: 62.5%;
    /* 10px */
}

.container {
    min-width: 32rem;
    margin: 0 auto;
}

.wrapper {
    background: var(--wrapper-color) url("../img/Promo.png") center no-repeat;
    background-size: cover;
    padding-top: 2rem;
    padding-bottom: 14rem;
    text-align: center;
}

.header-logo {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin-bottom: 4rem;
}

.validation-nav {
    margin-bottom: 11rem;
}

.validation-list {
    display: flex;
}

.validation-list_item:nth-child(-n+1) {
    margin-right: 0.5rem;
}

.validation-button {
    border-radius: 1.8rem;
    width: 9rem;
    height: 3.5rem;
    background: transparent;
    border: 0.2rem solid transparent;
    outline: none;
    cursor: pointer;
}

.validation-button:hover {
    border-color: var(--main-color);
}

.nav--item {
    font-size: var(--main-size);
    font-family: var(--title-font);
    color: var(--main-color);
}

.logo {
    font-size: 2rem;
    padding: 2rem;
}

.photo-title__up {
    font-size: 3rem;
    text-transform: uppercase;
    margin-bottom: 2rem;
}

.photo-title__down {
    font-size: 1.8rem;
    font-family: var(--descript-font);
    color: var(--main-color);
    margin-bottom: 2rem;
}

.photo__button {
    background-color: var(--button-color);
    color: var(--main-color);
    padding: 1rem 5rem;
}

.title--button {
    display: inline-block;
    font-family: var(--title-font);
    border-radius: 1.8rem;
    font-size: var(--main-size);
}

.img-container::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(2.2rem, 2.2rem);
    display: block;
    width: 4rem;
    height: 4rem;
    border: 0.4rem solid var(--main-color);
    border-radius: 50%;
    background-image: url(../img/spritesheet.png);
    background-repeat: no-repeat;
}

.sprite-icon-1::after {
    background-color: var(--button-color);
    background-position: -10px -12px;
}

.sprite-icon-2::after {
    background-color: var(--second-par);
    background-position: -66px -12px;
}

.sprite-icon-3::after {
    background-color: var(--third-par);
    background-position: -122px -12px;
}

.sprite-icon-4::after {
    background-color: var(--fourth-par);
    background-position: -12px -67px;
}

.partners__section {
    padding-top: 7rem;
    padding-bottom: 5rem;
    text-align: center;
}

.partners-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 3rem;
}

.partners-list_item:nth-child(-n+3) {
    margin-bottom: 30px;
}

.img-container {
    position: relative;
    margin-bottom: 2rem;
}

.partners-img {
    border-radius: 50%;
}

.partners-figure {
    width: 21.5rem;
    margin: 0 auto;
}

.partners-name {
    margin-bottom: 1.5rem;
}

.text--partners {
    font-size: var(--main-size);
    font-family: var(--descript-font);
    color: var(--third-color);
}

.partners-link {
    background-color: transparent;
    color: var(--button-color);
    box-shadow: 0 0 0 0.2rem var(--button-color);
    padding: 1rem 7rem;
    border-radius: 1.8rem;
    font-size: var(--main-size);
    font-family: var(--title-font);
}

.title--partners {
    font-size: var(--main-size);
    font-family: var(--title-font);
    color: var(--second-color);
}

.partners-head {
    font-size: 2.2rem;
    margin-bottom: 2rem;
}