@import "./fonts.css";

:root {
    --menu-color: #222222;
    --secondary-color: #fed136;
    --third-color: #777777;
    --fourth-color: #ffffff;
    --border-color: #cccccc;
    --valid-color: #008000;
    --invalid-color: #fa0808;
    --logo-font: 'Bilbo Swash Caps',
        sans-serif;
    --first-font: 'Montserrat Regular', sans-serif;
    --secondary-font: 'Montserrat Bold', sans-serif;
    --description-font: 'Brawler',
        sans-serif;
    --services-font: 'Roboto Slab',
        sans-serif;
}