* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper
 {
  width: 900px;
  margin: 0 auto;
}
  

.body {
  font-family: 'Roboto',
    sans-serif;
}

.header {
  padding: 77px 0px 0px 0px;
  margin: 0 0 100px 0;
}

.list-item {
  list-style: none;
  display: inline-block;
  margin: 0px 90px 0px 0px
}

.nav-list {
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase
}

.nav-link {
  text-decoration: none;
  color: black
}

.left-img,
.right-img {
  margin: 0 0 30px 0
}

.lifestyle {
  display: inline-block;
  width: 420px;
  margin: 0 0 30px 0;
  text-transform: uppercase;
  font-size: 14px
}

.left-head,
.right-head {
  display: inline-block;
  width: 420px;
  margin: 0 0 40px 0;
  font-size: 30px;
}

.right-text,
.left-text {
  display: inline-block;
  width: 420px;
  margin: 0 0 130px 0
}

.right-article,
.left-article {
  list-style: none;
}

.left-post {
  display: inline-block;
  width: 420px;
  margin: 0 auto;
}

.right-post {
  display: inline-block;
  width: 420px;
  margin: 0 0 0 55px;
}

.buttonload {
  border: 1px solid grey;
  width: 160px;
  height: 60px;
  cursor: pointer;
  font-size: 20px;
  background-color: transparent;
  outline: none
}
.button-wrapper
{
  display: inline-block;
  width: 1300px;
  margin: 0 0 77px 0;
  text-align: center;

}
