* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: rgb(81, 81, 81);
    font-family: 'Open Sans',
        sans-serif;
    font-family: 'Roboto',
        sans-serif;
}


.wrapper {
    width: 1110px;
    margin: 0 auto;

}

.nav {
    padding-top: 38px;
    height: 30px;
    
}

.logo {
    
    font-family: "Roboto";
    float: left;
    margin: 0;
    
}

.mart {
    
    font-size: 30px;
    text-transform: uppercase;
    line-height: 0.67;
    text-decoration: none;
    float: left;

}

.mart:hover::first-letter {
    color: rgb(26, 188, 156);
    font-weight: bold;
}

.menu-section {
    width: 465px;
    height: 30px;
    float: right;
}


.menu-item:last-child {
    margin-left: 0;
    float: left;
}

.menu-item {
    float: right;
    text-transform: uppercase;
    list-style: none;
    line-height: 1.067;
    margin-left: 45px;
    margin-top: 5px;

}

.menu {

    text-decoration: none;
    font-weight: bold;
    color: #000000;
    font-size: 11px;
}


.menu:hover {
    color: rgb(26, 188, 156);
}

.gallery {
    padding-top: 100px;
    float: left;
    
}

.products {
    text-align: center;
    margin-bottom: 90px;
}

.news {
    text-decoration: none;
    font-size: 48px;
    font-family: "Roboto";
    text-transform: uppercase;
    line-height: 0.667;
}

.news:hover::after {
    width: 100%;
    ;
}

.product {
    width: 255px;
    float: left;
    margin-right: 30px;
    color: rgb(81, 81, 81);
    }


.product:nth-child(4n+1) {
    margin-right: 0px;
    float: right;
}
.product-image {
    background-color: rgb(233, 240, 253);
}


.product-title
 { 
   width: 191px;
   height: 40px;
   margin-left: 10px;
   float: left;
   background-color:rgb(51, 51, 51);
    }
    


.product-item {
    float: left;
    margin-top: 10px;
    margin-left: 10px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    color: rgb(255, 255, 255);
    
    }


.price {
    
    float: right;
    width: 54px;
    height: 40px;
    text-align: center;
     background-color:rgb(51, 51, 51);
     opacity: 0.439;
    
}

.price-item {
    float: left;
    margin-top: 5px;
    margin-left: 13px;
    text-decoration: none;
    font-size: 18px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    line-height: 1.778;
    font-weight: bold;
   
    
}

.blog {
    padding-top: 100px;
    float: left;
}

.news-title {
    text-align: center;
    padding-bottom: 80px;
}

.blog-main {
    float: left;
    width: 345px;
}

.block-img {}

.blog-title {}

blog-item {}

.lorem-text {}

.lorem-item {}

.main-buttom {}

.buttom {}