* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--main-font);
  font-family: var(--semi-font);
}

*::before,
*::after {
  box-sizing: inherit;
}

.wrapper,
.wrapper-header,
.wrapper-footer {
  width: 1110px;
  margin: 0 auto;
}

* li {
  list-style: none;
}

.module {
  background-color: var(--main-background-color);
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.header {
  padding-top: 30px;
  padding-bottom: 30px;
}

.logo {
  float: left;
}

.mart {
  font-family: var(--semi-font);
  color: var(--logo-color-text);
  font-size: 30px;
  margin: 0px;
  text-transform: uppercase;
  text-decoration: none;
  float: left;
  font-weight: 300;
}

.mart:first-letter {
  font-family: var(--semi-font);
  color: var(--main-color-hover);
  line-height: 1.067;
  font-weight: 900;
}

.nav {
  float: right;
  padding-top: 7px;
}

.menu-item {
  display: inline-block;
  text-transform: uppercase;
  list-style: none;
  line-height: 1.067;
  margin-right: 25px;
}

.menu-item:last-child {
  margin-right: 0;
}

.menu {
  font-family: var(--main-font);
  text-decoration: none;
  font-weight: bold;
  line-height: 0.786;
  color: var(--menu-color-text);
  font-size: 14px;
}

.menu:hover {
  color: var(--menu-hover-color);
}

.slider-main {
  width: 100%;
  height: 600px;
  position: relative;
  Overflow: hidden;
}

.slider-img {
  display: block;
  width: 100%;
  object-fit: cover;
}

.overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: var(--main-overlay-color);
  z-index: 1;
}


.slider-center {
  width: 1110px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.head-poster {
  
  display: inline-block;
  font-family: var(--semi-font);
  text-transform: uppercase;
  font-size: 60px;
  word-spacing: -5px;
  color: var(--main-color-text);
  margin-bottom: 20px;
}

.head-text {
  text-align: none;
  font-family: var(--semi-font);
  text-transform: uppercase;
  display: inline-block;
  font-size: 24px;
  font-weight: 300;
  color: var(--main-color-text);
  float: left;
  margin-left: 180px;
  margin-right: 180px;
}

.left-button {
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background-image: url(./img/left-icon.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 105px;
  height: 105px;
  cursor: pointer;
  border: none;
  background-color: var(--background-color-button);
}

.right-button {
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background-image: url(./img/right-icon.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 105px;
  height: 105px;
  cursor: pointer;
  border: none;
  background-color: var(--background-color-button);
}

.right-button:hover,
.left-button:hover {
  background-color: var(--main-color-hover);
}

.news {
  text-align: center;
  margin-bottom: 90px;
  padding-top: 100px;
  font-family: var(--semi-font);
  text-decoration: none;
  font-size: 48px;
  text-transform: uppercase;
  color: var(--head-text-color);
}

.news::after {
  content: "";
  border-bottom: 6px solid;
  color: var(--line-color-head);
  display: block;
  width: 165px;
  margin: 0 auto;
  padding-top: 30px;
}

.card-product {
  position: relative;
  width: 255px;
  float: left;
  margin-right: 30px;
  margin-bottom: 100px;
}

.card-product:last-child {
  margin-right: 0;
}

.name-product {
  float: left;
  width: 200px;
  font-family: var(--semi-font);
  padding: 10px;
  text-transform: uppercase;
  font-size: 18px;
  color: var(--main-color-text);
}

.price-product {
  float: right;
  width: 53px;
  font-family: var(--semi-font);
  padding: 5px 10px 5px 10px;
  font-size: 18px;
  color: var(--main-color-text);
  background-color: var(--price-product-background-color);
  text-transform: uppercase;
  line-height: 1.778;
  font-weight: bold;
}

.card-product:hover .product-item {
  background-color: var(--main-color-hover);
}

.img-product {
  display: block;
}

.product-item {
  height: 40px;
  background-color: var(--product-item-background-color);
}
.card-img{
  position: relative;
}
.overlay-cart {
  position: absolute;
  text-align: center;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  background-color: var(--main-overlay-color);
  display: none;
}

.card-product:hover .overlay-cart {
  display: block;
}

.product-hover {
 position: absolute; 
 top: 50%;
 transform: translateY(-50%);
 display: block;
 font-size: 0px;
}

.hover-item {
  display: inline-block;
  margin-right: 7px;
}

.hover-item:last-child {
  margin-right: 0;
}

.hover-item:nth-child(-n + 3) {
  margin-bottom: 7px;
}

.hover-item:nth-child(n + 3) {
  margin-right: 0;
}

.like-item {
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 50px;
  height: 50px;
  display: block;
  background-image: url(./img/icon-like.png);
  background-color: transparent;
  cursor: pointer;
  border: 1px solid;
  border-color: var(--main-border-color);
}

.shadow-item {
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 50px;
  height: 50px;
  cursor: pointer;
  display: block;
  background-image: url(./img/icon-center.png);
  border: 1px solid;
  border-color: var(--main-border-color);
  background-color: transparent;
}

.time-item {
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 50px;
  height: 50px;
  display: block;
  background-image: url(./img/icon-time.png);
  cursor: pointer;
  border: 1px solid;
  border-color: var(--main-border-color);
  background-color: transparent;
}

.basket-item {
  display: block;
  width: 165px;
  height: 50px;
  padding: 18px 10px 18px 10px;
  text-align: right;
  background-repeat: no-repeat;
  background-position: 10% 45%;
  background-image: url(./img/icon-basket.png);
  background-color: #323232;
  border: 1px solid;
  border-color: var(--main-border-color);
  color: var(--main-color-text);
  font-size: 14px;
  text-transform: uppercase;
  font-family: var(--main-font);
  cursor: pointer;
  text-decoration: none;
}

.like-item:hover,
.shadow-item:hover,
.time-item:hover,
.basket-item:hover {
  background-color: var(--main-color-hover);
}

.footer {
  width: 100%;
  background-color: var(--footer-background-color);
  padding: 35px;
  text-align: center;
}

.footer-item {
  font-family: var(--main-font);
  letter-spacing: -0.02em;
  color: var(--footer-text-color);
}

.span-footer {
  text-decoration: none;
  color: var(--footer-design-color);
  cursor: pointer;
}